<div>
  <p>Name: </p>
  <p>
    <%= f.text_field :name %>
  </p>
</div>

  <div>
    <p>Address: </p>
    <p>
      <%= f.text_field :address %>
    </p>
  </div>

  <div>
    <p>City: </p>
    <p>
      <%= f.text_field :city %>
    </p>
  </div>

  <div>
    <p>Country: </p>
    <p>
      <%= f.text_field :country %>
    </p>
  </div>

  <div>
    <p>Zipcode: </p>
    <p>
      <%= f.text_field :zipcode %>
    </p>
  </div>

<div>
  <%= f.submit %>
</div>