<div class="table-responsive">
  <table class="table table-hover">
    <tr class="success">
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
      <th>Zip code</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Status</th>
    </tr>

    <% @hotels.each do |hotel| %>
      <tr>
        <td>
          <%= hotel.name %>
        </td>
        <td>
          <%= hotel.address %> 
        </td>
        <td>
          <%= hotel.city %>
        </td>
        <td>
          <%= hotel.country %>
        </td>
        <td>
          <%= hotel.zipcode %>
        </td>
        <td>
          <%= hotel.longitude %>
        </td>
        <td>
          <%= hotel.latitude %>
        </td>
        <td>
          <%= link_to "delete", hotel_path(hotel.id), :method => :delete, :confirm => "are you sure to delete?" %>
        | <%= link_to "edit", edit_hotel_path(hotel.id) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>